# ===== Foundry =====
broadcast/
cache/
out/

# ===== Node / Next.js =====
node_modules/
.next/
dist/

# ===== Logs & temp =====
*.log
*.tmp
*.txt

# ===== Env =====
.env
.env.*

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Typescript =====
*.tsbuildinfo

# ===== IDE =====
.vscode/
.idea/
