NEXT_PUBLIC_WALLETCONNECT_ID=
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_NUDOS_DIAMOND_ADDRESS=0xa6181f4564d5e4318e3fab7904e9624ed0101c46
NEXT_PUBLIC_NUDOS_TOKEN_ADDRESS=0xE15a1c28C4185F9d98C1d2E17c2e8497BfeFa23C
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
RPC_URL=
DIAMOND=
