NEXT_PUBLIC_WALLETCONNECT_ID=
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_NUDOS_DIAMOND_ADDRESS=0xa6181f4564d5e4318e3fab7904e9624ed0101c46
NEXT_PUBLIC_NUDOS_TOKEN_ADDRESS=0xE15a1c28C4185F9d98C1d2E17c2e8497BfeFa23C
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
RPC_URL=
DIAMOND=
SUPABASE_SECRET_KEY=
ASSET_LAYER_ADMIN_EMAIL_SHA256=
ASSET_LAYER_RPC_URL=https://sepolia.base.org
ASSET_LAYER_OPERATOR_WALLET=0xB4BFd705bd44E5b6e154b55f6198c2b1F5a457eC
ASSET_LAYER_OPERATOR_PRIVATE_KEY=
ASSET_LAYER_AUDITOR_WALLET=0x0e34aA3dFd097Ac3a318B4832B2F094caB28220c
ASSET_LAYER_AUDITOR_PRIVATE_KEY=
ASSET_LAYER_DEFAULT_CUSTODIAN_WALLET=
CRON_SECRET=
OPS_PRIMARY_RPC_URL=
OPS_FAILOVER_RPC_URL=
OPS_EXPECTED_CHAIN_ID=8453
OPS_RPC_TIMEOUT_MS=8000
OPS_MAX_BLOCK_AGE_SECONDS=120
OPS_DIAMOND_ADDRESS=
OPS_NUDOS_TOKEN_ADDRESS=
OPS_ALERT_WEBHOOK_URL=
OPS_ALERT_WEBHOOK_BEARER_TOKEN=
